[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DTwrappers2"]
	path = DTwrappers2
	url = https://github.com/cran/DTwrappers2
[submodule "nRegression"]
	path = nRegression
	url = https://github.com/cran/nRegression
[submodule "simitation"]
	path = simitation
	url = https://github.com/srivastavbudugutta/simitation
