[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "simitation"]
	path = simitation
	url = https://github.com/srivastavbudugutta/simitation
